.search-container {
  display: flex;
  align-items: flex-start; /* Alinea verticalmente al centro */
  gap: 0; /* Elimina el espacio entre los elementos */
  max-width: 600px; /* Ajusta el ancho máximo del contenedor */
  margin: 0; /* Centra el contenedor horizontalmente */
}

.search-input {
  flex: 1; /* Hace que el input ocupe el espacio restante */
  padding: 10px; /* Ajusta el padding para aumentar la altura del input */
  font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor apariencia */
  border: 1px solid #ccc; /* Opcional: Ajusta el borde del input */
  margin-left: 10px;
}

.add-button {
  flex-shrink: 0; /* Evita que el botón se reduzca de tamaño */
  padding: 10px 20px; /* Ajusta el tamaño del botón */
  background-color: rgb(218, 255, 207);
}

.crud-container {
  padding: 1rem;
  max-height: calc(
    100vh - 60px
  ); /* Ajusta el valor 60px dependiendo del alto de tu header */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow-y: auto;
  max-height: 60vh; /* Ajusta según la altura que quieras para la tabla */
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0; /* Centra el contenedor si es necesario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

table {
  width: 100%;
  border-collapse: collapse; /* Elimina el espacio entre las celdas */
}

td.table-ellipsis {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th,
td {
  padding: 12px 15px; /* Espacio interno para celdas */
  text-align: left; /* Alinea el texto a la izquierda */
  border-bottom: 1px solid #ddd; /* Línea de separación entre filas */
}

th {
  background-color: #f4f4f4; /* Color de fondo para los encabezados */
  font-weight: bold; /* Negrita para los encabezados */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Color alternativo para filas pares */
}

tr:hover {
  background-color: #f1f1f1; /* Color de fondo al pasar el ratón sobre una fila */
}

.buttonsActions {
  display: flex; /* Usa flexbox para alinear los botones en línea */
  gap: 10px; /* Espacio entre los botones (ajusta según sea necesario) */
  /* Otros estilos opcionales */
}

.buttonsActions button {
  border: none; /* Elimina el borde por defecto del botón */
  border-radius: 4px; /* Bordes redondeados para el botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  padding: 8px 12px; /* Ajusta el tamaño del botón */
  font-size: 14px; /* Tamaño de la fuente del botón */
  background-color: rgb(218, 255, 207); /* Color de fondo del botón */
}

button:hover {
  background-color: #74ee64; /* Color de fondo del botón al pasar el ratón sobre él */
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  background-color: rgb(204, 199, 199);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 90vw;
  max-width: 500px;
  max-height: 90vh;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-header {
  padding: 8px 16px;
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-confirmation {
  padding: 8px 16px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column; /* Mantiene el contenido en una columna */
  align-items: center; /* Centra el contenido horizontalmente */
  position: relative; /* Permite la posición absoluta del botón */
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido dentro de header-content */
  margin-top: 20px; /* Añade margen superior para mover el contenido hacia abajo */
}

.header-content h3 {
  margin: 0; /* Elimina márgenes por defecto para evitar espacio adicional */
}

.header-content p {
  margin: 0; /* Elimina márgenes por defecto para evitar espacio adicional */
}

button {
  position: absolute; /* Permite la posición absoluta dentro del contenedor modal */
  top: 8px; /* Ajusta la distancia desde la parte superior */
  right: 16px; /* Ajusta la distancia desde la parte derecha */
  background: none; /* Elimina el fondo del botón si es necesario */
  border: none; /* Elimina el borde del botón si es necesario */
  font-size: 24px; /* Ajusta el tamaño de la fuente del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.modal-body {
  padding: 16px;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
}

Label {
  margin-bottom: 8px;
  font-weight: bold;
}

Input {
  margin-bottom: 16px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.flex {
  display: flex;
  justify-content: space-between;
}
