/* Estilos generales */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilos del header */
.header-container {
  width: 100%;
  background-color: #f8f8f8; /* Cambia esto por el color de fondo que desees */
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Estilos del título */
.header-container h1 {
  margin: 0;
  font-size: 2rem;
  text-align: left;
}

/* Estilos de la navegación */
.header-container nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.header-container nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.header-container nav a:hover {
  color: #007bff;
}

/* Contenedor del contenido principal */
.content-container {
  margin-top: 160px; /* Ajusta este valor según la altura de tu header */
  padding: 2rem;
}

/* Asegúrate de que los componentes de la tabla no se desajusten */
.table-container {
  overflow-y: auto;
  max-height: 60vh; /* Ajusta según la altura que quieras para la tabla */
  border: 1px solid #ddd;
  border-radius: 8px;
}
